<li>
	{{task}}

	<button class="complete-task" data-id="{{id}}" data-newtask="{{completed}}">
		{{#if completed}}All Set!{{else}}Not Yet{{/if}}
	</button>

	<button class="delete-task" data-id="{{this.id}}">Delete</button>
</li>
